*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body{
  height: 100vh;
  font-size: 1.5rem;font-family: monospace;
  
  background-image: radial-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
  
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}
img
{
  display: block;
  max-width: 100%;
  height: 250px;
  width: 250px;
  
}

header,footer{
  position: sticky;
  background-color: rgb(18, 163, 83);
  color: rgb(255, 255, 255);
  text-align: center;
}
header
{
  top: 0;
}
footer{
  bottom: 0;
}
nav{
  background-color: rgb(158, 204, 158);
      border-bottom: 2px solid black;
  font-weight: bolder;
  display: flex;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  flex-flow: row wrap;
  gap: 1rem;

  }

  nav a{
    white-space: nowrap;
  }
nav a,nav a:visited{
  color: black;

}
nav a:hover,nav:focus{
  color: hsla(0, 0%, 20%, 0.6);
}

main
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}
main p{
  color: rgb(13, 141, 71);
}

.card
{
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: darkpink;
  border: 2px solid rgb(13, 141, 71);
  border-radius: 15px ;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card figure
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img{
  border: 5px double black;
  border-radius: 50%;

}

.card figcaption
{
  font-weight: bolder;
  font-size: 1.8rem;
  margin: 1rem;
  text-align: center;
  color: rgb(6, 147, 60);
  white-space: nowrap;
}

@media screen and (min-width:576px){
  main
  {
    justify-content: center;
    flex-flow: row wrap;
  }
  .card 
  
  {
    width: min(100%,400px);
  }
}


@media screen and (min-width:768px){

  .card {
    width: min(100%,325px);
  }
  .card figure{
    flex-flow: column-reverse;
  }
  .card figcaption
  {
    margin: 0.5em 0;
  }
  
}



@media screen and (min-width:992px){
  nav{
    display: none;
  }
  .card {
    width: min(100%,400px);
  }
  
}



@media screen and (min-width:1200px){

  .card {
    width: min(calc(33% - 1rem),300px);
  }
  
}



@media screen and (min-width:1500px){

  .card {
    width: 400px;
    
    
  }
  
}