<!DOCTYPE html>
<html>
<head>
<title>aboutus.in</title>
<link rel="stylesheet" href="../css/aboutus.css">
</head>
<body>
<div class="left">
<h1>ABOUT US</h1></br>
<p><span>G</span>overnment Polytechnic, Srikakulam was established in the year  1961.The institution was initially started with three
Engineering Diploma Courses namely Civil , Electrical&Electronics and Mechanical Engineering . After few years in the year 1975 a non-Engineering DCCP Course 
was added to its Courses. Again in the year 2008 Diploma in Computer Engineering was also credited  to the list. Presently it offers  five Diploma Programmes 
of three  years  duration with annual intake of 60 for each programme for each year.The total Land area allotted to this Institution is 16 acres.The Institute 
has its infrastructural facilities like Class rooms, laboratories, workshop , play ground, own drinking water facility etc.,and hostel for boys and girls and 
compound wall.</br>This Institution was selected for National Board of Accreditation(NBA) for two branches namely Civil Engineering and Mechanical Engineering.
The APSSDC also launched the Technical Skill Development (T-SDI) with three laboratories to train the Students in the areas like Agro , CAD , Electronics in 
this Institution.This Institution is the Nodal Institution for all the Government and Private Polytechnics in the District and all the activities like conduct 
of POLYCET , District Spot Valuation for Diploma Examinations , all CETs counselings are all in this campus.</br>The Institution has  committed and dedicated staff. 
The institute is fully funded by Government of Andhra Pradesh as per the allocation of the annual Budget. As it is an old Institute,the existing laboratories, workshop,
library, computer lab, etc. have to be strengthened, keeping given modernization. By modernization and strengthening of polytechnic with latest techniques, 
skills, software upgradation, skill-oriented training can be imparted to the student community. The Government is providing the funds through Upgradation and MODROBS
by AICTE. The majority of students are from the rural base and are poor in English and they are scared of communication in the English language. So, the English Language
Lab is established to inculcate the habit of efficiency in English Communication Skills. In addition t improving their English language and communication skills,
the personality development aspects are also taken into consideration. The Skill Development Centre was established in the year 2011 to bridge the gap between Industrial 
needs and the skills acquired by the student in the Institute. In these Skill Development Centres the communication skills and technical skills of the students can be improved.    
</p1></div>

<div class="right">
  <iframe id="loc" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3788.0835098601547!2d83.87269431480983!3d18.297788787539176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3c14eebfed30d1%3A0xebd36dcc339f962d!2sGovernment%20Polytechnic%20College%20Srikakulam!5e0!3m2!1sen!2sin!4v1676627656055!5m2!1sen!2sin"
 width="600" height="450" style="border:0;" allowfullscreen="" 
loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div></br>

<div  class="vision">
<h2 id="h21">VISION</h2>
<p id="para" style="font-size:18px;text-align:center" padding="20px">Strive to promote quality technical education  through innovative practices , methodologies and ensure that all 
students get an opportunity to acquire attitude ,
 skill , knowledge to become successful global citizens and life long learners</p></div></br>

<div class="mission">
<h2>MISSION</h2>
<p>•To impart high quality technical education to the youth to meet ever changing global challenges</br>
•To become regional focal point in human development and Technical education continuous improvement in the areas of Engineering and Technology</br>
•To Practice and promote high standard of professional ethics, transparency and accountability
</p>
</div>

</body>
</html>


