<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="../css/admin.css">
</head>
<body>
<header >
  <h1 > ADMINISTRATION</h1>
  <nav>
   <a href="#profile1" >DR.B.JANAKIRAMAYYA </a> 
  <a href="#profile2" >G.DAMODARA RAO</a> 
   <a href="#profile3" >ML.KAMESHWARI</a>
   <a href="#profile4" >G.SATYA NARAYANA</a> 
  <a href="#profile5" >GOVINDHA NAIDU</a> 
   <a href="#profile6" >SV.LAKSHUMMA</a>  
</nav>
</header>
<main>
  <section>
  <article class="card one" id="profile1">
    <figure class="joe"> <img src="dmec1.jpg" alt="image" width="170" height="170">
      <figcaption >DR.B.JANAKI Ramayya</figcaption></figure>
             <figure>
              <p>PRINCIPAL</p>
  </article>
  <article class="card two" id="profile2">
    <figure class="joe"> <img src="../images/photos/admin/G.Damodara Rao-Head of Section.jpeg" alt="image" width="170" height="170">
      <figcaption >G.DAMODARA RAO</figcaption></figure>
       <figure>
        <p>HEAD OF THE SECTION</p>
      </article>
 </section>
      <header class="hod"> <h1> Head Of Section </h1></header>
<section class="bottom">
  <article class="card three" id="profile3">
    <figure class="joe"> <img src="../images/photos/admin/M L Kameswari-Head of Section.jpeg" alt="image" width="170" height="170">
      <figcaption > <span> ML.KAMESHWARI</span></figcaption></figure>
       <figure>
        <p>HEAD OF THE SECTION</p>
  </article>
  <article class="card four" id="profile4">
    <figure class="joe"> <img src="../images/photos/admin/Dr.G.SatyaNarayana.jpeg" alt="image" width="170" height="170">
      <figcaption >DR.G.SATYANARAYANA</figcaption></figure>
      <p>HEAD OF THE SECTION</p>
       <figure>
  </article>
  
  <article class="card five" id="profile5">
    <figure class="joe"> <img src="../images/photos/admin/IMG-20230218-WA0016.jpg" alt="image" width="170" height="170">
      <figcaption >GOVINDHA NAIDU</figcaption></figure>
      <p>HEAD OF THE SECTION</p>
       <figure>
  </article>
  
  <article class="card six" id="profile6">
    <figure class="joe"> <img src="../images/photos/admin/S.V.Lakshumma-Senior Lecturer in Maths.jpeg" alt="image" width="170" height="170">
      <figcaption > <span>SV.LAKSHUMMA</span></figcaption></figure>
      <p>HEAD OF THE SECTION</p>
       <figure>
  </article>
</section>

</main>
<footer>
  <p>&copy; GPT SRIKAKULAM</p>

</footer>
</body>
</html>