<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin_login</title>
  <link rel="stylesheet" href="../css/gpt_styles.css">
  </head>
<body>
  <div class="project">
    <h1 id="cus">CONTACT US</h1>
    <div class="center">
      <h1>Admin Login</h1>
      <form action=" " method="post">
        <div class="txt">
          <input id="us" type="text" required>
          <span></span>
          <label id="userr"for="">Username</label>

        </div>
        <div class="txt">
          <input id="pas" type="password" required>
          <span></span>
          <label id="perr" for="">Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
          <input type="submit" value="Login" onclick="validate()">
        <div class="signup">
          Create a new acount?  <a href="#">Signup</a>
        </div>
      </form>
    </div>
  </div>

  <script src="login.js"></script>
</body>
</html>