<html>
    <head>
        <title>
            courses
        </title>
        <link rel="stylesheet" href="../css/courses.css">
    </head>
    <body>
        <h1 class="courses">
            COURSES
        </h1>
        <dl class="list">
            <dt>DCME</dt>
            <dd><a href="cme.html">Diploma In Computer Science <span>→</span></a>
            </dd></br>
            <dt> DCE</dt>
            <dd><a href="civil.html">Diploma In Civil Engineering<span>→</span></a>
            </dd></br>
            <dt>DCCP</dt>
            <dd><a href="../html/">Diploma In Commerical Computer Practises<span>→</span></a>
            </dd></br>
            <dt>DME</dt>
            <dd><a href="eee.html">Diploma In Electrical Electronics Engineering<span>→</span></a>
            </dd></br>
            <dt>DEEE</dt>
            <dd><a href="dmec.html">Diploma In Mechanical Engineering<span>→</span></a></dd>
        </dl>
    </body>
</html>