<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/staff.cme.css">
</head>
<body>
<header>
  <h1 > GENERAL SECTION FACULTY</h1>
  <nav>
   <a href="#profile1" >SV.LAKSHUMMA</a> 
  <a href="#profile2" >S.NIRMALA</a> 
   <a href="#profile3" >Y.SITA DEVI</a>
   <a href="#profile4" >GV.SIVA PRASAD</a> 
  <a href="#profile5" >M.DURGA PRASAD</a> 
   <a href="#profile6" >SVKK.VARMA</a>
   
</nav>
</header>
<main>
  <article class="card" id="profile1">
    <figure class="joe"> <img src="../images/photos/General Section/S.V.Lakshumma-Senior Lecturer in Maths.jpeg" alt="image" width="170" height="170">
      <figcaption >SV.LAKSHUMMA</figcaption></figure>
             <figure>
              <p>SENIOR LECTURER IN MATHS</p>
  </article>
  <article class="card" id="profile2">
    <figure class="joe"> <img src="../images/photos/General Section/S.Nirmala-Lecturer in English.jpeg" alt="image" width="170" height="170">
      <figcaption >S.NIRMALA</figcaption></figure>
       <figure>
        <p>LECTURER IN ENGLISH</p>
        

  </article>
  <article class="card" id="profile3">
    <figure class="joe"> <img src="../images/photos/General Section/Y.Sita Devi-Lecturer in Maths.jpeg" alt="image" width="170" height="170">
      <figcaption > <span> Y.SITA DEVI</span></figcaption></figure>
       <figure>
        <p>LECTURER IN MATHS</p>
  </article>
  
  <article class="card" id="profile5">
    <figure class="joe"> <img src="../images/photos/General Section/M.Durga Prasad-Lecturer in Chemistry.jpeg" alt="image" width="170" height="170">
      <figcaption >M.DURGA PRASAD</figcaption></figure>
      <p>LECTURER IN CHEMISTRY</p>
       <figure>
  </article>
  <article class="card" id="profile4">
    <figure class="joe"> <img src="../images/photos/General Section/G.V.SivaPrasad-Lecturer in Physics.jpeg" alt="image" width="170" height="170">
      <figcaption >GV.SIVA PRASAD</figcaption></figure>
      <p>LECTURER IN PHYSICS</p>
       <figure>
  </article>
  <article class="card" id="profile6">
    <figure class="joe"> <img src="../images/photos/General Section/S V K K Varma-Librarian.jpeg" alt="image" width="170" height="170">
      <figcaption > <span>SVKK.VARMA</span></figcaption></figure>
      <p>LIBRARIAN</p>
       <figure>
  </article>
  
</main>
<footer>
  <p>&copy; GPT SRIKAKULAM</p>

</footer>
</body>
</html>