{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{%static 'css/staff.cme.css'%}">
</head>
<body>
<header>
  <h1 > DCSE FACULTY</h1>
  <nav>
   <a href="#profile1" >GOVINDHA NAIDU </a> 
  <a href="#profile2" >D.MURALI KRISHNA </a> 
   <a href="#profile3" >CH.UDHAYA BHASKAR </a>
   <a href="#profile4" >B.DRAKSHAYANI </a> 
  <a href="#profile5" >K.CHANDRA SHEKAR </a> 
   <a href="#profile6" >S.RAMESH</a>
   <a href="#profile7" >VASANTHA</a>
   <a href="#profile8" >B.RAMANA RAO</a>
   
</nav>
</header>
<main>
  <article class="card" id="profile1">
    <figure class="joe"> <img src="{% static 'images\cme1.jpg' %}" alt="image" width="170" height="170">
      <figcaption >GOVINDHA NAIDU </figcaption></figure>
             <figure>
              <p>HEAD OF THE DEPARTMENT</p>
  </article>
  <article class="card" id="profile2">
    <figure class="joe"> <img src="{% static 'images\cme5.jpg' %}" alt="image" width="170" height="170">
      <figcaption >D.MURALI KRISHNA </figcaption></figure>
       <figure>
        <p>SENIOR LECTURER</p>
        

  </article>
  <article class="card" id="profile3">
    <figure class="joe"> <img src="{% static 'images\cme2.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span> CH.UDHAYA BHASKAR  </span></figcaption></figure>
       <figure>
        <p>LECTURER</p>
  </article>
  
  <article class="card" id="profile5">
    <figure class="joe"> <img src="{% static 'images\cme7.jpg' %}" alt="image" width="170" height="170">
      <figcaption >K.CHANDRA SHEKAR </figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile4">
    <figure class="joe"> <img src="{% static 'images\cme8.jpg' %}" alt="image" width="170" height="170">
      <figcaption >B.DRAKSHAYANI </figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile6">
    <figure class="joe"> <img src="{% static 'images\cme4.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span>S.RAMESH</span></figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile7">
    <figure class="joe"> <img src="" alt="image" width="170" height="170">
      <figcaption > <span> VASANTHA</span></figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile8">
    <figure class="joe"> <img src="{% static 'images\cme 6.jpg' %}" alt= "image" width="170" height="170">
      <figcaption > <span>B.RAMANA RAO</span></figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>

</main>
<footer>
  <p>&copy; GPT SRIKAKULAM</p>

</footer>
</body>
</html>