{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{%static 'css/staff.cme.css'%}">
</head>
<body>
<header>
  <h1 > DCE FACULTY</h1>
  <nav>
   <a href="#profile1" >G.DAMODARA RAO </a> 
  <a href="#profile2" >VVRS.MURTHY </a> 
   <a href="#profile3" >Y.SHANKARA RAO</a>
   <a href="#profile4" >G.BHASKARA RAO</a> 
  <a href="#profile5" >D.VISALAKSHI</a> 
   <a href="#profile6" > K.VASU DEVA RAO</a>
   <a href="#profile7" >K.MADHUSUDHANA RAO</a>
   
   
</nav>
</header>
<main>
  <article class="card" id="profile1">
    <figure class="joe"> <img src="{% static 'images\civil5.jpg' %}" alt="image" width="170" height="170">
      <figcaption >G.DAMODARA RAO</figcaption></figure>
             <figure>
              <p>HEAD OF THE DEPARTMENT</p>
  </article>
  <article class="card" id="profile2">
    <figure class="joe"> <img src="{% static 'images\civil3.jpg' %}" alt="image" width="170" height="170">
      <figcaption >VVRS.MURTHY</figcaption></figure>
       <figure>
        <p>SENIOR LECTURER</p>
        

  </article>
  <article class="card" id="profile3">
    <figure class="joe"> <img src="{% static 'images\civil4.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span>Y.SHANKARA RAO</span></figcaption></figure>
       <figure>
        <p>LECTURER</p>
  </article>
  
  <article class="card" id="profile5">
    <figure class="joe"> <img src="{% static 'images\civil2.jpg' %}" alt="image" width="170" height="170">
      <figcaption >D.VISALAKSHI</figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile4">
    <figure class="joe"> <img src="{% static 'images\civil1.jpg' %}" alt="image" width="170" height="170">
      <figcaption >G.BHASKARA RAO</figcaption></figure>
      <p>SENIOR LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile6">
    <figure class="joe"> <img src="{% static 'images\civil8.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span>K.VASU DEVA RAO</span></figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile7">
    <figure class="joe"> <img src="{% static 'images\civil6.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span>K.MADHUSUDHANA RAO</span></figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  

</main>
<footer>
  <p>&copy; GPT SRIKAKULAM</p>

</footer>
</body>
</html>