{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{%static 'css/staff.cme.css'%}">
</head>
<body>
<header>
  <h1 > DEEE FACULTY</h1>
  <nav>
   <a href="#profile1" >P.SRINIVASA RAO</a> 
  <a href="#profile2" >P.VINDHYA</a> 
   <a href="#profile3" >K.PADMAJA</a>
   <a href="#profile4" >P.PADMALATHA</a> 
  
   
   
</nav>
</header>
<main>
  <article class="card" id="profile1">
    <figure class="joe"> <img src="{% static 'images\seee1.jpg' %}" alt="image" width="170" height="170">
      <figcaption >P.SRINIVASA RAO</figcaption></figure>
             <figure>
              <p>LECTURER</p>
  </article>
  <article class="card" id="profile2">
    <figure class="joe"> <img src="{% static 'images\see2.jpg' %}" alt="image" width="170" height="170">
      <figcaption >P.VINDHYA</figcaption></figure>
       <figure>
        <p>LECTURER</p>
        

  </article>
  <article class="card" id="profile3">
    <figure class="joe"> <img src="{% static 'images\seee4.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span>K.PADMAJA</span></figcaption></figure>
       <figure>
        <p>LECTURER</p>
  </article>
  
  
  </article>
  <article class="card" id="profile4">
    <figure class="joe"> <img src="{% static 'images\see3.jpg' %}" alt="image" width="170" height="170">
      <figcaption >P.PADMALATHA</figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  
  

</main>
<footer>
  <p>&copy; GPT SRIKAKULAM</p>

</footer>
</body>
</html>