{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{%static 'css/staff.cme.css'%}">
</head>
<body>
<header>
  <h1 > DME FACULTY</h1>
  <nav>
   <a href="#profile1" > B.RAVI KUMAR</a> 
  <a href="#profile2" >G.EDU KONDALU </a> 
   <a href="#profile3" >G.UPENDHAR</a>
   <a href="#profile4" >G.SATYANARAYANA</a> 
  <a href="#profile5" >K.RAMESH KUMAR</a> 
   <a href="#profile6" >M.HIMA BINDU</a>
   <a href="#profile7" >V.KOTESHWARA RAO</a>
   <a href="#profile8" >CH.DILLESHWARA RAO</a>
   
</nav>
</header>
<main>
  <article class="card" id="profile1">
    <figure class="joe"> <img src="{% static 'images\smec6.jpg' %}" alt="image" width="170" height="170">
      <figcaption >B.RAVI KUMAR</figcaption></figure>
             <figure>
              <p>SENIOR LECTURER</p>
  </article>
  <article class="card" id="profile2">
    <figure class="joe"> <img src="{% static 'images\smec1.jpg' %}" alt="image" width="170" height="170">
      <figcaption >G.EDUKONDALU</figcaption></figure>
       <figure>
        <p>SENIOR LECTURER</p>
        

  </article>
  <article class="card" id="profile3">
    <figure class="joe"> <img src="{% static 'images\mec1.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span>P.UPENDHAR  </span></figcaption></figure>
       <figure>
        <p>SENIOR LECTURER</p>
  </article>
  
  <article class="card" id="profile5">
    <figure class="joe"> <img src="{% static 'images\smec2.jpg' %}" alt="image" width="170" height="170">
      <figcaption >K.RAMESH KUMAR </figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile4">
    <figure class="joe"> <img src="{% static 'images\mec2.jpg' %}" alt="image" width="170" height="170">
      <figcaption >G.SATYANARAYANA</figcaption></figure>
      <p>SENIOR LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile6">
    <figure class="joe"> <img src="{% static 'images\smec5.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span>M.HIMA BINDHU</span></figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile7">
    <figure class="joe"> <img src="{% static 'images\smec4.jpg' %}" alt="image" width="170" height="170">
      <figcaption > <span> V.KOTESHWARA RAO</span></figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>
  <article class="card" id="profile8">
    <figure class="joe"> <img src="{% static 'images\smec7.jpg' %}" alt= "image" width="170" height="170">
      <figcaption > <span>CH.DILLESHWARA RAO</span></figcaption></figure>
      <p>LECTURER</p>
       <figure>
  </article>

</main>
<footer>
  <p>&copy; GPT SRIKAKULAM</p>

</footer>
</body>
</html>